/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}




body {
    background-color: gray;
}

.container-one {
	background: blue;
	height: 24vh;
	width: 97vw;
	border: 5px solid black;
	margin: 20px 20px;
}

.square-one {
    background: red;
    height: 13vh;
	width: 2.5vw;
	float: left;
	margin: 50px 13px;
	}
	
	.square-two {
		background: rgba(92, 241, 46, 0.829);
		height: 21vh;
		width: 24vw;
		float: left;
		margin: 9px 88px;
	}

	.circle	    
	{ background: magenta;
    height: 20vh;
    width: 209px;
    float: left;
    margin: 15px 12px;
    border-radius: 50%;
	}

	.container-two {
		background: green;
		height: 24vh;
		width: 97vw;
		border: 5px dotted black;
		margin: 25vh -0.5vw;
	}


	.rectangle {
		display: inline-block;
		background: brown;
		height: 18vh;
		width: 90vw;
		margin: 26px 3vw;
		padding: 20px;
	}

	.container-three {
		position: relative;
		display: inline-block;
		background: yellow;
		height: 38vh;
		width: 35vw;
		border: groove 3px white;
		margin: -20vh 30vw;
	}

h1 {
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 15vh;
	font-size: 60px;
}

h2 {
	position: absolute;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 15vh;
}



